{{> welcome-menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centred">
    <p class="title">
      Placemark: Organise and manage your Places of Interest
    </p>
    <p class="box">
      <i class="fas fa-map-marked-alt" style="font-size: 300px;"></i>
    </p>
  </div>
</section>